body {
    background: linear-gradient(30deg, rgb(77, 77, 77), rgb(58, 58, 58));
}

header {
    position: static;
}

main ul {
    width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

main li {
    background-color: #fff;
    display: flex;
    box-shadow: 1px 1px 4pc #00000033;
    border-radius: 6px;
    overflow: hidden;
    margin: 10px;
}

main li img {
    width: 300px;
    height: 280px;
    object-fit: cover;
    object-position: center;
}

main .actions {
    text-align: right;
    padding: 10px;
    border-radius: 5px;
    transition-duration: 250ms;
}


main .actions a {
    border-radius: 5px;
    padding: 10px;
    transition-duration: 250ms;
    color: #00caca;
    font-size: 20px;
    font-weight: 800;
    text-decoration: none;
}

main .actions a:hover {
    background: #d4f6fa;
    padding: 10px;
    transition-duration: 250ms;
    color: #00caca;
    font-size: 20px;
    font-weight: 800;
    text-decoration: none;
}

.item-content {
    padding: 24px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}