body {
    background: linear-gradient(30deg, rgb(77, 77, 77), rgb(58, 58, 58));
}

#page-logo a {
    color: rgb(183, 230, 235);
}

header {
    position: static;
}

header a {
    color: rgb(183, 230, 235);
}

header nav a:hover {
    background-color: rgb(183, 230, 235);
    color: rgb(59, 59, 59);
}

.list-items h2 {
    margin: 0;
}

main ul {
    width: 1200px;
    justify-content: center;
    margin: 0 auto 48px auto;
    padding: 20px;
    /* css grid challenge code */
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px 20px;
    /* end of css grid challenge code */
}


main li {
    background-color: #fff;
    display: flex;
    box-shadow: 1px 1px 4pc #00000033;
    border-radius: 6px;
    overflow: hidden;
    max-width: 100%;
}

/* css grid challenge code */
.list-items:nth-of-type(3),
.list-items:nth-of-type(10) {
    grid-column-start: 1;
    grid-column-end: 3;
}

/* end of css grid challenge code */

main li img {
    width: 300px;
    height: 280px;
    object-fit: cover;
    object-position: center;
}

main .actions {
    text-align: right;
    padding: 10px;
    border-radius: 5px;
    transition-duration: 250ms;
}


main .actions a {
    border-radius: 5px;
    padding: 10px;
    transition-duration: 250ms;
    color: #00caca;
    font-size: 20px;
    font-weight: 800;
    text-decoration: none;
}

main .actions a:hover {
    background: #d4f6fa;
    padding: 10px;
    transition-duration: 250ms;
    color: #00caca;
    font-size: 20px;
    font-weight: 800;
    text-decoration: none;
}

.item-content {
    padding: 24px;
    /* css grid challenge */
    width: 100%;
    /* end of css grid challenge */
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}