* {
    margin:0;
}

body {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    /* background-color: #19d4c4; */
}

header {
    position: absolute;
    padding: 10px 15px 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}

header ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

header ul li {
    padding: 10px;
}

header ul li a {
    text-decoration: none;
    color: #ffff00;
    font-size: 20px;
    padding: 12px;
    border-radius: 6px;
    transition-duration: 250ms;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

header ul li a:hover {
    background-color: #ffff00;
    color: #000;
    padding: 12px;

}

#page-logo a {
    padding: 10px;
    font-family: 'Oleo Script', sans-serif;
    font-size: 50px;
    color: rgb(245, 243, 160);
    text-shadow: 4px 4px #00000071;
    text-decoration: none;
    text-transform: uppercase;
}

/* main section */

main #hero-section {
    background-image: url("images/ocean.jpg");
    background-size: cover;
    background-position: center;
    height: 800px;
}

.hero-section-container {
    color: white;
    display: flexbox;
    justify-content: center;
    padding: 50px 0;
    text-align: center;
    background-color: #00000086;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    box-shadow: 2px 4px 8px #00000079;
    position: relative;
    top: 200px;
}

.hero-section-container a {
    color: #000;
    font-size: 24px;
    background-color: #ffff00;
    padding: 12px 24px;
    font-weight: bold;
    text-decoration: none;
    transition-duration: 200ms;
    border-radius: 8px;
    box-shadow: 2px 4px 8px rgb(68, 67, 67)
}

.hero-section-container a:hover {
    background-color: #003983;
    color: #ffff00;
    transition-duration: 200ms;
}

.hero-section-container h1 {
    text-transform: uppercase;
    font-size: 50px;
    font-family: "Raleway", sans-serif;
    margin: 0;
}

.hero-section-container p {
    color: #fff;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 300;
}

/* Highlights section */

#highlights h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 40px;
    color: #008177;
}

.destinations {
    max-width: max-content;
    width: 100%;
    box-sizing: content-box;
    list-style: none;
    display: flex;
    margin: 0 auto;
}

.destination {
    margin: 0 20px;
    justify-content: space-evenly;
}

.destination img {
    height: 200px;
    width: 100%;
    box-shadow: 2px 4px 8px rgba(68, 67, 67);
    border-radius: 10px;
    object-fit: cover;
}

.destination p {
    text-transform: uppercase;
    color: #000;
    text-align: center;
}

.destination p strong {
    color: #008177;
}

/* end of Highlights section */

/* footer section */
footer {
    background-color: #000;
    margin: 0;
}

footer ul {
    margin:0 auto;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    max-width: 100%;
    width: 30%;
}

footer ul li a {
    padding: 10px;
}

footer ul li a img {
    width: 100px;
}